{% extends "layout.html" %}

{% block body %}

<div class = "abouthead">
    <p style = "display:inline;">Annoucements</i></p>
</div>

<div class = "announcements">

    <h2 class="article-title-about" style = "text-decoration: none;">Known Issues</h2>
    <ul>
        <li class = "announcements-content">Homepage loading slowly</li>
    </ul>
    <br>
    <h2 class="article-title-about" style = "text-decoration: none;">Fixes</h2>
    <ul>
        <li class = "announcements-content">Cleaned up unnecessary JavaScript and consolidation of scripts/code</li>
        <li class = "announcements-content">Module upgrades on the Back-End</li>
    </ul>
    <br>
    <h2 class="article-title-about" style = "text-decoration: none;">New</h2>
    <ul>
        <li class = "announcements-content">The structure of all pages have been revamped.</li>
    </ul>
    <br>
    <h2 class="article-title-about" style = "text-decoration: none;">Improvements</h2>
    <ul>
        <li class = "announcements-content">User Experience improved by making it easier to find content.</li>
    </ul>
    <br>
    <h2 class="article-title-about" style = "text-decoration: none;">Upcoming</h2>
    <ul>
        <li class = "announcements-content">Allowing users to add a picture related to their blog.</li>
    </ul>
</div>

{% endblock %}