{% extends "layout.html" %}
{% block body %}

<div class = "abouthead">
    <p style = "display:inline; font-weight-bold">Your Blogs</p>
</div>

<main role="main" class="container" style = "padding:25px; margin-bottom: 3rem;">
          <div class="row">
            <div class="col-md-8">
              {% block submain %}

                {% if not posts %}

                <p class = "myblogs-heading" style = "margin:1rem; font-size:120%;">You haven't written any blogs yet. Begin your blogging journey by clicking <a href = "/newpost" style = "color:#9e1b21;">Here!</a></p>

                {% else %}

                {% for post in posts %}

                  <article class="media content-section">
                    <div class="media-body">
                      <div class="article-metadata">
                        <a class="mr-2" href="#" style = "text-decoration: none; color:#9e1b21;">{{ post.author }}</a>
                        <small class="text-muted">{{ post.dateandtime }}</small>
                      </div>
                      <h2><a class="article-title" href="#" style = "text-decoration: none;">{{ post.title }}</a></h2>
                      <p class="article-content">{{ post.content }}</p>
                      <form action="/myblogs" method="post">
                        <input type = "hidden" name = "blogtitle" value = "{{post.title}}">
                        <input type = "hidden" name = "blogauthor" value = "{{post.author}}">
                        <input type = "hidden" name = "blogcontent" value = "{{post.content}}">
                        <button class="btn btn-primary"  type="submit" name="button" value="update" style = "font-size:12px;">Update</button>
                        <button class="btn btn-danger"  type="submit" name="button" value="delete" style = "font-size:12px;">Delete</button>
                      </form>
                    </div>

                  </article>

                {% endfor %}
                {% endif %}
              {% endblock %}
{% endblock %}