{% extends "layout.html" %}

{% block body %}

<div class = "abouthead">
    <p style = "display:inline;">Follow our Socials!</i></p>
</div>


<main role="main" class="container" style = "padding:25px;">
          <div class="row">
            <div class="col-md-8">
                <article class="media content-section">
                    <div class="media-body">
                        <h2 class="article-title-about" style = "text-decoration: none; color:#007bb5;">LinkedIn</h2>
                        <hr class = "hr1">
                        <p class="article-content-about">Interact with us on <a href = "https://www.linkedin.com/in/siddharth-sarma-5a17511b9/" class = "fa fa-linkedin"></a></p>
                    </div>
                </article>
                <article class="media content-section">
                    <div class="media-body">
                        <h2 class="article-title-about" style = "text-decoration: none; color:#55ACEE;">Twitter</h2>
                        <hr class = "hr1">
                        <p class="article-content-about">Interact with us on <a href = "https://twitter.com/" class = "fa fa-twitter"></a></p>
                    </div>
                </article>
                <article class="media content-section">
                    <div class="media-body">
                        <h2 class="article-title-about" style = "text-decoration: none; color:#ff5700;">Reddit</h2>
                        <hr class = "hr1">
                        <p class="article-content-about">Interact with us on <a href = "https://www.reddit.com/" class = "fa fa-reddit"></a></p>
                    </div>
                </article>
                <article class="media content-section">
                    <div class="media-body">
                        <h2 class="article-title-about" style = "text-decoration: none; color:#3B5998;">Facebook</h2>
                        <hr class = "hr1">
                        <p class="article-content-about">Interact with us on <a href = "https://www.facebook.com/" class = "fa fa-facebook"></a></p>
                    </div>
                </article>
                <article class="media content-section">
                    <div class="media-body">
                        <h2 class="article-title-about" style = "text-decoration: none; color:#125688;">Instagram</h2>
                        <hr class = "hr1">
                        <p class="article-content-about">Interact with us on <a href = "https://www.instagram.com/" class = "fa fa-instagram"></a></p>
                    </div>
                </article>

{% endblock %}