{% extends "layout.html" %}
{% block body %}

<div class = "abouthead">
    <p style = "display:inline;">Getting started with SportsRelated</i></p>
</div>

<div class = "announcements">

    <h2 class="article-title-about" style = "text-decoration: none;">Blog Feed</h2>
    <hr class = "hr1">
    <ul>
        <li class = "announcements-content">Blogs written by yourself and other users can be viewed on the Home page along with the SportsRelated sidebar that keeps users informed about any changes made to the Website</li>
    </ul>
    <br>
    <h2 class="article-title-about" style = "text-decoration: none;">About Page</h2>
    <hr class = "hr1">
    <ul>
        <li class = "announcements-content">Clicking on the About link in the Navigation Bar will take users to SportsRelated's About page</li>
    </ul>
    <br>
    <h2 class="article-title-about" style = "text-decoration: none;">My Blogs</h2>
    <hr class = "hr1">
    <ul>
        <li class = "announcements-content">My Blogs route helps users keep track of all their blogs and also allows them to update or delete them if and when required.</li>
    </ul>
    <br>
    <h2 class="article-title-about" style = "text-decoration: none;">New Post</h2>
    <hr class = "hr1">
    <ul>
        <li class = "announcements-content">Users can post New Blogs by going to the New Post route</li>
        <li class = "announcements-content">Uploading a new post will automatically bring the Blog to the feed for everyone to see</li>
    </ul>
    <br>
    <h2 class="article-title-about" style = "text-decoration: none;">Account</h2>
    <hr class = "hr1">
    <ul>
        <li class = "announcements-content">Account Route shows users their account information</li>
    </ul>
    <br>
    <h2 class="article-title-about" style = "text-decoration: none;">Log Out</h2>
    <hr class = "hr1">
    <ul>
        <li class = "announcements-content">Log Out allows users to log out of SportsRelated successfully.</li>
    </ul>

{% endblock %}