{% extends "layout.html" %}
{% block body %}

<div class = "abouthead">
    <p style = "display:inline;">Beginner's Guide for SportsRelated  / &ensp; <i>Start your SportsRelated Blog right away!</i></p>
</div>

<main role="main" class="container" style = "padding:25px;">
          <div class="row">
            <div class="col-md-8">
                <article class="media content-section">
                    <div class="media-body">
                        <h2 class="article-title-about" style = "text-decoration: none;">About SportsRelated</h2>
                        <hr class = "hr1">
                        <p class="article-content-about">Hi! It's great to see you here at SportsRelated! If you don't already know, SportsRelated is a web application created for my Final Project for Harvard's introductory CS50 course.</p>
                    </div>
                </article>
                <article class="media content-section">
                    <div class="media-body">
                        <h2 class="article-title-about" style = "text-decoration: none;">What is SportsRelated?</h2>
                        <hr class = "hr1">
                        <p class="article-content-about">SportsRelated is a web application made with microframework Flask which allows users to write blogs related to anything and everything about Sports! It allows users to Register as a new account, Sign In and start blogging about their passion for Sports. Users have the ability to view posts written by fellow sports enthusiasts as well, along with updating or deleting any of their own posts whenever needed. Users can also change their Account details if they feel like doing so.</p>
                    </div>
                </article>
                <article class="media content-section">
                    <div class="media-body">
                        <h2 class="article-title-about" style = "text-decoration: none;">Why SportsRelated?</h2>
                        <hr class = "hr1">
                        <p class="article-content-about">The main objective behind creating a sports blogging website is so that we can bring our ardent opinions and passionate views to the virtual world and share it with other fanatics. We often find ourselves in a pub or in front of the TV screen cheering (or complaining about &#128516;) our favorite players or teams. SportsRelated allows users to voice their opinions globally and socialise with people sharing a similar viewpoint. It is an amazing way to build a person's network while writing something they are zealous about!</p>
                    </div>
                </article>
                <article class="media content-section">
                    <div class="media-body">
                        <h2 class="article-title-about" style = "text-decoration: none;">Requirements</h2>
                        <hr class = "hr1">
                        <p class="article-content-about">All you need to do is Register yourself, Sign in with your valid credentials and you're good to go! So what are you waiting for? We can't wait to read your thoughts about Liverpool winning the Premier League for the first time &#127942; or The Lakers winning a record-equalling 17th NBA title &#127936; or anything really, that you are passionate about! Blog Away! &#9997;</p>
                    </div>
                </article>
                <article class="media content-section">
                    <div class="media-body">
                        <h2 class="article-title-about" style = "text-decoration: none;">Disclaimer!</h2>
                        <hr class = "hr1">
                        <p class="article-content-about">SportsRelated does not offer any professional advice related to blogging on our website. Furthermore, SportsRelated has zero tolerance for hateful posts towards a fellow user, community or global sporting personality. Any kind of post insinuating hate comments or spam will be removed from the feed immediately.</p>
                    </div>
                </article>

{% endblock %}
