{% extends "layout.html" %}

{% block body %}

<div class = "abouthead">
    <p style = "display:inline;">Calendar</i></p>
</div>

<div class = "announcements">

    <h2 class="article-title-about" style = "text-decoration: none;">Last Update</h2>
    <ul>
        <li class = "announcements-content">SportsRelated was last updated on 12th February, 2021</li>
    </ul>
    <br>
    <h2 class="article-title-about" style = "text-decoration: none;">Upcoming Service Patch</h2>
    <ul>
        <li class = "announcements-content">SportsRelated will be unavailable on 15th March, 2021 from 14:00-16:00 GMT (UTC + 0) hours.</li>

    </ul>

{% endblock %}