{% extends "layout.html" %}

{% block carousel %}
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
              <div class="carousel-inner" style="padding-top: 0px;">
                <div class="carousel-item active">
                  <img src="static/sports8.jpeg" class="d-block w-100" alt="..." style = "height: 550px; width: 200px;">
                </div>
                <div class="carousel-item">
                  <img src="static/sports9.jpeg" class="d-block w-100" alt="..." style = "height: 550px; width: 200px;">
                </div>
                <div class="carousel-item">
                  <img src="static/sports10.jpeg" class="d-block w-100" alt="..." style = "height: 550px; width: 200px;">
                </div>
                <div class="carousel-item">
                  <img src="static/sports5.jpeg" class="d-block w-100" alt="..." style = "height: 550px; width: 200px;">
                </div>
                <div class="carousel-item">
                  <img src="static/sports4.jpeg" class="d-block w-100" alt="..." style = "height: 550px; width: 200px;">
                </div>
                <div class="carousel-item">
                  <img src="static/sports15.jpeg" class="d-block w-100" alt="..." style = "height: 550px; width: 200px;">
                </div>
                <div class="carousel-item">
                  <img src="static/sports11.jpeg" class="d-block w-100" alt="..." style = "height: 550px; width: 200px;">
                </div>
                <div class="carousel-item">
                  <img src="static/sports12.jpeg" class="d-block w-100" alt="..." style = "height: 550px; width: 200px;">
                </div>
                <div class="carousel-item">
                  <img src="static/sports13.jpeg" class="d-block w-100" alt="..." style = "height: 550px; width: 200px;">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </a>
            </div>
{% endblock %}

{% block body %}

<div class = "heading1">
  <h3 class = "font-weight-bold">Top Stories in the Sports World</h3>
  <hr class = "hr1">
</div>

{% endblock %}

{% block sidebar %}

<main role="main" class="container" style = "padding:25px; margin-bottom: 3rem;">
          <div class="row">
            <div class="col-md-8">
              {% block submain %}

                {% for post in posts %}

                  <article class="media content-section">
                    <div class="media-body">
                      <div class="article-metadata">
                        <a class="mr-2" href="#" style = "text-decoration: none; color:#9e1b21;">{{ post.author }}</a>
                        <small class="text-muted">{{ post.dateandtime }}</small>
                      </div>
                      <h2><a class="article-title"  style = "text-decoration: none; color:#000000;">{{ post.title }}</a></h2>
                      <p class="article-content">{{ post.content }}</p>
                    </div>
                  </article>


                {% endfor %}


              {% endblock %}
            </div>
            <div class="col-md-4">
              <div class="content-section">
                <h3>Our Sidebar</h3>
                <p class='text-muted'>Notify yourself with all changes made to SportsRelated
                  <ul class="list-group">
                    <a href = "/usage" style = "text-decoration:none;"><li class="list-group-item list-group-item-light sidebar">Basic Usage</li></a>
                    <a href = "/announcements" style = "text-decoration:none;"><li class="list-group-item list-group-item-light sidebar">Announcements</li></a>
                    <a href = "/calendar" style = "text-decoration:none;"><li class="list-group-item list-group-item-light sidebar">Calendars</li></a>
                    <a href = "/socials" style = "text-decoration:none;"><li class="list-group-item list-group-item-light sidebar">Socials</li></a>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        </main>


{% endblock %}



